body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f8f9fa;
}

.nav-tabs {
  border: none;
  .nav-link {
    color: #495057;
  }
}

input,
select {
  box-shadow: none !important;
  outline: none !important;
  border-color: #ced4da !important;
}

.css-1s2u09g-control,
.css-b62m3t-container {
  padding: 0.25em !important;
  outline: none !important;
  box-shadow: none !important;
}
